{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1> Welcome</h1>
  <p> Welcome to my simple To-Do aplication. This page was created in order to learn some new technologies.</p>
  <p> This aplication is created by using Python/Django and Bootstrap. Use source code as you please.
    Complete soucre code and contact to creator are bellow.</p>

  <a href="https://github.com/Wencisss/To-Do_WebApp">Git HUB</a>
  <p> Email: vencahrbek@email.cz</p>
</div>
{% endblock content %}